@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f8fafc;
  color: #212529;
}
* {
  box-sizing: border-box;
}
@media print {
  .no-print {
    display: none !important;
  }
  .print-full {
    margin: 0 !important;
    padding: 0 !important;
  }
}
